* {
    margin: 0;
    padding: 0;
    font-family: 'inter';
}
body {
    height: 100vh;
    box-sizing: border-box;
}
#logo {
    margin-left: 56px;
    margin-top: 52px;
}

#titulo-menu-supeior {
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menu-superior {
    margin-top: 35px;
    margin-left: 150px;
    padding-bottom: 100px;
}

#menusuperior {
    background-image: url(images/fundo-menu-superior.svg);
    color: white;
}

#menuinformacional {
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between; /* Distribui os itens uniformemente */
    align-items: center; /* Centraliza verticalmente */
    padding-top: 0; /* Padding superior */
    padding-right: 180px; /* Aumenta o padding direito para 100px */
    padding-bottom: 0; /* Padding inferior */
    padding-left: 50px; /* Padding esquerdo original */
}


.icon {
    margin: 50px 0px 50px 100px;
    padding: 20px;
}

#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo {
    display: flex;
    align-items: center;
}

#titulovideo {
    color: #247BA0;
    margin-top: 50px;
}

#video {
    margin: 50px 25px 50px 100px;

}

#carrossel {
    background-color: #247BA0;
    padding: 50px 200px;
    justify-content: space-between; /* Distribui os itens uniformemente */
    align-items: center; /* Centraliza verticalmente */
}

#titulo-carrossel {
    text-align: center;
    color: #EAECE5;
    font-size: 25px;

}

#div-cards {
    display: grid;
    grid-auto-flow: column;
}

.cards {
    margin-left: 50px;
    margin-top: 30px;
}

#bruna {
    display: none;
}

#seta-esquerda {
    display: none;
}

.seta {
    margin-top: 30%;
    cursor: pointer;
}

.seta:hover {
    transform: translateY(-5px);
    transition-duration: 0.5;
}

#formulario {
    text-align: center;

}

#titulo-formulario {
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input {
    width: 300px;
    height: 35px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    margin-top: 20px;
    margin-bottom: 30px; /* Adiciona espaço abaixo do botão */
    background-color: #247BA0;
    height: 35px;
    width: 250px;
    color:#EAECE5;
    border: 0px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;

}

button:hover{
    background-color: #328fb7;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 12px 18px #1f3640;
    transition-duration: 0.3s;
}